$white-solid: #ffffff;
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$black-solid: #000000;
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #d1d1d1;
$gray-400: #a1a1a1;
$gray-500: #767676;
$gray-600: #555555;
$gray-700: #333333;
$gray-800: #1a1a1a;
$point-khaki: #5d675b;
$point_orange: #ff5f00;
$black: $black-solid;
$black-solid: #000000;
$white: $white-solid;
$txt_header: #1d1d1d;
$txt_body: #333333;
$txt_caption: #666666;
$txt_none-active: #929292;
$main_txt_green: #838e4f;
$main_bg_yellow: #ede58c;

$mobile: 600px;
$tablet: 1023px;
$desktop: 1600px;

